.main-body {
    width: 100%;
    margin: 10px auto 0px auto;
}

/* ОБЩЕЕ ОФОРМЛЕНИЕ SECTION */

.base-block {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block__white {
    background-color: #ffffff;
}
.block__blue {
    background-color: #E9EBEE;
}

/* 1. БЛОК HEADER */

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header__block {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/assets/1-brush.png);
    background-repeat: no-repeat;
    background-position: left;
}
.logo__block {
    display: flex;
}
.logo {
    display: block;
    width: 10%;
}
.header__title {
    margin-left: 3%;
}

.login {
    display: flex;
    border-radius: 10px;
    height: 50%;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid #ffffff;
}
.login:hover {
    border: 1px solid #FFB940;
}

.login__title {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    color: 555555;
}
.login__img {
    display: block;
}

/* 2. БЛОК SLIDER */
.slider {
    width: 100%;
    /* border-top: 3px solid #504f52; */
    border-top: 3px solid #555555;
}
.slider-image {
    width: 100%;
}

/* 3. БЛОК CATALOG */

.catalog__caption {
    text-align: center;
}

.catalog__block {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;   
    margin-left: auto;
    margin-right: auto;
}

.catalog__item {
    width: 20%;
    border: 1px solid white;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: white;
}

.catalog__item:hover {
    border: 1px solid #FFB940;
}

.catalog__title {
    text-align: center;
}

/* 4. БЛОК ADVANT */

.advant__caption {
    text-align: center;
}
.advant__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.advant__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    width: 25%;   
}
.advant__item:hover {
    border: 1px solid #FFB940;
}
.advant__title {
    text-align: center;
}
.advant__img {
    width: 40%;
}

.advant__text {
    width: 90%;
}


/* 5. БЛОК BRANDS */
.brands__caption {
    text-align: center;
}
.brands__block {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.brand {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* 6. БЛОК COMMENTS */
.comments__caption {
    text-align: center;
}
.comments__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.comment__block {
    display: flex;
    width: 40%;
}
.comment__text-block {
    flex-direction: column;
    margin-left: 10px;
}
.comment__image {
    display: block;
    width: 100%;
    margin: auto;   
    top: 1px;
    left: 1px;
}
.comment__text {
    display: block;
    font-style: italic;
    margin-bottom: 0;
}

/* 7. Блок NEWS */
.news__caption {
    text-align: center;
}
.news__block {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
}
.news__article {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 45%;
    height: 100%;
    padding: 10px;
}
.news__image {
    display: block;
    height: 80%;
    }
.news__text-block {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    margin-left: 10px;
    width: 70%;
    height: 60%;
}
.news__title {
    margin-bottom: 0;
}
.news__text {
    font-style: italic;
}

/* 8. БЛОК CONTACTS */
.contacts {
    background-color: #555555;
}
.contacts__caption {
    text-align: center;
}
.contacts__block {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
}
.contacts__column-left {
    display: flex;
    flex-direction: column;
}
.contacts__column-right {
    display: flex;
    flex-direction: column;
}
.contacts__input {
    width: 500px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.contacts__input-message {
    height: 170px;
}
.contacts__send {
    text-align: center;
    margin: 10px auto;
    width: 100px;
    text-decoration: none;
    color: #000000;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #fff;
}
.contact {
    list-style: none;
    margin-bottom: 10px;
}
.contact__skype::before {
    content: url(/assets/contacts-skype-icon.png);
    margin-right: 10px;
}
.contact__icq::before {
    content: url(/assets/contacts-icq-icon.png);
    margin-right: 10px;
}
.contact__email::before {
    content: url(/assets/contacts-email-icon.png);
    margin-right: 10px;
}
.contact__phone::before {
    content: url(/assets/contacts-phone-icon.png);
    margin-right: 10px;
}
.contacts__social {
    margin-left: 40px;
}

/* БЛОК FOOTER */
.footer__text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}